<main class="background-contact-me" id="anchor_contact_me">
    <header data-aos="fade-right" data-aos-duration="1500">
        <div class="left-bar"></div>
        <span>Contact</span>
    </header>

    <div class="content-container">
        <aside class="left-side">
            <div class="left-side-txt" data-aos="fade-right" data-aos-duration="1500">
                <span class="subtitle">Got a problem to solve?</span>
                <p class="first">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
                <p class="second">Need a Frontend developer? <b>Contact me!</b></p>
            </div>
        </aside>

        <aside class="right-side">
            <div class="overcontainer">
                <form>
                    <input type="text" placeholder="Your name">
                    <input type="text" placeholder="Your email">
                    <textarea style="height: 104px" type="text" placeholder="Your message"></textarea>
                    <div class="checkbox-cont">
                        <input type="checkbox">
                        <span>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</span>
                    </div>
                    <button>Send message</button>
                    
                </form>
                <img onclick="location.href='#'" src="./../../../assets/go_up_button.png">
            </div>
        </aside>
    </div>

    <div class="blue-smoke-left">
        <img src="./../../../assets/blue_smoke_contact_me.png">
    </div>
</main>