<main class="background-contact-me" id="anchor_contact_me">
    <section class="overcontainer-max-width">
        @if (languageService.langDE) {
        
        <header data-aos="fade-right" data-aos-duration="1500">
            <div class="left-bar"></div>
            <span>Contact</span>
        </header>

        <div class="content-container">
            <aside class="left-side">
                <div class="left-side-txt" data-aos="fade-right" data-aos-duration="1500">
                    <span class="subtitle">Got a problem to solve?</span>
                    <p class="first">Contact me through this form, I am interested in hearing from you, knowing your ideas
                        and contributing to your projects with my work.</p>
                    <p class="second">Need a Fullstack developer? <b>Contact me!</b></p>
                </div>
            </aside>

            <aside class="right-side">
                <div class="overcontainer">

                    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                        <div class="inputfieldName">
                        <input required id="input_name" type="text" placeholder="Your Name" [(ngModel)]="contactData.name" name="name" [ngClass]="{'border-green-success': borderGreenName, 'border-red-fail': borderRedName}" (input)="validateName()">
                        <img class="validation-icon" [ngClass]="{'d-none': !isNameValid || !contactData.name}" src="./../../../assets/contactme/successSymbol.png">
                        <img class="validation-icon" [ngClass]="{'d-none': isNameValid || !contactData.name}" src="./../../../assets/contactme/errorSymbol.png">
                        </div>
                        <span id="errorName" [ngClass]="{'d-none': isNameValid || !contactData.name}">Your Name is required</span>

                        <div class="inputfieldEmail">
                            <input required id="input_email" type="email" placeholder="E-mail" [(ngModel)]="contactData.email" name="email" [ngClass]="{'border-green-success': borderGreenMail, 'border-red-fail': borderRedMail}" (input)="validateEmail()">
                            <img class="validation-icon" [ngClass]="{'d-none': !successImgEmail || !contactData.email}" src="./../../../assets/contactme/successSymbol.png">
                            <img class="validation-icon" [ngClass]="{'d-none': successImgEmail || !contactData.email}" src="./../../../assets/contactme/errorSymbol.png">
                        </div>
                        <span id="errorEmail" [ngClass]="{'d-none': isEmailValid || !contactData.email}">Your Email is required (e.g. example&#64;domain.com)</span>


                        <div class="inputfieldMessage">
                            <textarea required style="height: 104px" placeholder="Your message to me" [(ngModel)]="contactData.message" name="message" (input)="validateMessage()" [ngClass]="{'border-green-success': borderGreenMessage, 'border-red-fail': borderRedMessage}"></textarea>
                            <img class="last-child-icon" [ngClass]="{'d-none': !successImgMessage || !contactData.message}" src="./../../../assets/contactme/successSymbol.png">
                            <img class="last-child-icon" [ngClass]="{'d-none': successImgMessage || !contactData.message}" src="./../../../assets/contactme/errorSymbol.png">
                        </div>
                        <span id="errorMessage" [ngClass]="{'d-none': isMessageValid || !contactData.message}">Your message is empty or has fewer than 4 characters.</span>

                        <div class="checkbox-cont">
                            <img *ngIf="checkbox" (click)="acceptCheckbox(); sendForm()" src="../../../assets/contactme/checkbox_checked.png">
                            <img *ngIf="!checkbox" (click)="acceptCheckbox(); sendForm()" src="../../../assets/contactme/checkbox_unchecked.png">
                            <span>I've read the<a href="privacy-policy">privacy-policy</a>and agree to the processing of my data as outlined.</span>
                        </div>
                        <span id="errorPrivacy" [ngClass]="{'d-none': !errorMsgPrivacy}">Please accept the privacy policy.</span>
                    
                        <div *ngIf="successMessage" class="success-message">
                            {{ successMessage }}
                        </div>

                        <button type="submit" class="send-btn click-effect" [disabled]="!isFormValid()" [ngClass]="{'send-btn': !checkbox}">Senden</button>
                    </form>
                    <div class="back-to-landingpage-btn">
                        <img onclick="location.href='#'" src="./../../../assets/contactme/go_up_button.png">
                    </div>
                </div>
                </aside>
            </div>
            } @else {
            <header data-aos="fade-right" data-aos-duration="1500">
                <div class="left-bar"></div>
                <span>Kontakt</span>
            </header>

            <div class="content-container">
                <aside class="left-side">
                    <div class="left-side-txt" data-aos="fade-right" data-aos-duration="1500">
                        <span class="subtitle">Suchen Sie eine Lösung für Ihr Problem?</span>
                        <p class="first">Bitte kontaktieren Sie mich über dieses Formular. Ich freue mich darauf, Ihre Ideen kennenzulernen und mit meiner Expertise zu Ihren Projekten beizutragen.</p>
                        <p class="second">Benötigen Sie einen erfahrenen Fullstack-Entwickler?</p>
                    </div>
                </aside>

            <aside class="right-side">
                <div class="overcontainer">

                    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                        <div class="inputfieldName">
                        <input required id="input_name" (blur)="showHint('name')" type="text" placeholder="Dein Name" [(ngModel)]="contactData.name" name="name" [ngClass]="{'border-green-success': borderGreenName, 'border-red-fail': borderRedName}" (input)="validateName()">
                        <img class="validation-icon" [ngClass]="{'d-none': !isNameValid || !contactData.name}" src="./../../../assets/contactme/successSymbol.png">
                        <img class="validation-icon" [ngClass]="{'d-none': isNameValid || !contactData.name}" src="./../../../assets/contactme/errorSymbol.png">
                        </div>
                        <span id="errorName" [ngClass]="{'d-none': isNameValid || !contactData.name}">Ihr Name wird benötigt</span>

                        <div class="inputfieldEmail">
                            <input required id="input_email" (blur)="showHint('email')" type="email" placeholder="E-mail" [(ngModel)]="contactData.email" name="email" [ngClass]="{'border-green-success': borderGreenMail, 'border-red-fail': borderRedMail}" (input)="validateEmail()">
                            <img class="validation-icon" [ngClass]="{'d-none': !successImgEmail || !contactData.email}" src="./../../../assets/contactme/successSymbol.png">
                            <img class="validation-icon" [ngClass]="{'d-none': successImgEmail || !contactData.email}" src="./../../../assets/contactme/errorSymbol.png">
                        </div>
                        <span id="errorEmail" [ngClass]="{'d-none': isEmailValid || !contactData.email}">Ihre E-Mail wird benötigt (z.B. muster&#64;domain.com)</span>


                        <div class="inputfieldMessage">
                            <textarea required style="height: 104px" placeholder="Deine Nachricht an mich" [(ngModel)]="contactData.message" name="message" (input)="validateMessage()" [ngClass]="{'border-green-success': borderGreenMessage, 'border-red-fail': borderRedMessage}"></textarea>
                            <img class="last-child-icon" [ngClass]="{'d-none': !successImgMessage || !contactData.message}" src="./../../../assets/contactme/successSymbol.png">
                            <img class="last-child-icon" [ngClass]="{'d-none': successImgMessage || !contactData.message}" src="./../../../assets/contactme/errorSymbol.png">
                        </div>
                        <span id="errorMessage" [ngClass]="{'d-none': isMessageValid || !contactData.message}">Ihre Nachricht ist leer oder hat weniger als 4 Buchstaben</span>

                        <div class="checkbox-cont">
                            <img *ngIf="checkbox" (click)="acceptCheckbox(); sendForm()" src="../../../assets/contactme/checkbox_checked.png">
                            <img *ngIf="!checkbox" (click)="acceptCheckbox(); sendForm()" src="../../../assets/contactme/checkbox_unchecked.png">
                            <span>Ich habe die <a href="privacy-policy">Datenschutzbestimmungen</a> gelesen und stimme der Verarbeitung zu.</span>
                        </div>
                        <span id="errorPrivacy" [ngClass]="{'d-none': !errorMsgPrivacy}">Bitte akzeptieren Sie die Datenschutzbestimmung</span>
                    
                        <div *ngIf="successMessage" class="success-message">
                            {{ successMessage }}
                        </div>

                        <button type="submit" class="send-btn click-effect" [disabled]="!isFormValid()" [ngClass]="{'send-btn': !checkbox}">Senden</button>
                    </form>
                    <div class="back-to-landingpage-btn">
                        <img onclick="location.href='#'" src="./../../../assets/contactme/go_up_button.png">
                    </div>
                </div>
            </aside>
        </div>
        }
        <div class="blue-smoke-left">
            <img src="./../../../assets/contactme/blue_smoke_contact_me.png">
        </div>
    </section>
</main>