<div class="background-about-me" id="anchorabt">


    <div class="overcontainer">
        <div class="left-side">
            <div class="about-me-cont">
                @if (languageService.langDE) {
                <span class="title" data-aos="fade-right" data-aos-duration="1500">About me</span>
                <p class="introducing-txt" data-aos="fade-right" data-aos-duration="1500">
                    <i>"Every problem already has a solution. We just need to find it. [...]"</i>

                    I'm 31 years old, based in St. Gallen, and I'm experienced at building web applications. I
                    acquired my
                    skills through the following training courses:
                </p>

                <div class="blue-puzzle" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_puzzle.png">
                    <span>
                        A training session lasting over nine months for frontend development at the Developer Akademie GmbH.
                    </span>
                </div>

                <div class="blue-lamp" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_lamp.png">
                    <span>
                        There, I was able to expand my tech stack with Angular and TypeScript by working on individual
                        and group projects.
                    </span>
                </div>
            }@else {
                <span class="title" data-aos="fade-right" data-aos-duration="1500">Über mich</span>
                <p class="introducing-txt" data-aos="fade-right" data-aos-duration="1500">
                    <i>"Für jedes Problem gibt es bereits eine Lösung. Wir müssen sie nur finden. [...]"</i>

                    Ich bin 31 Jahre alt, komme aus St. Gallen und habe Erfahrung im Erstellen von Webanwendungen. Diese Schulung hat meine Fähigkeiten entwickelt:
                </p>

                <div class="blue-puzzle" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_puzzle.png">
                    <span>
                        Eine über zehn Monate dauernde Weiterbildung für Frontend-Entwicklung bei der Developer Akademie GmbH.
                    </span>
                </div>

                <div class="blue-lamp" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_lamp.png">
                    <span>
                        Dort konnte ich in Einzel- und Gruppenprojekten meinen Tech-Stack unter anderem durch Angular
                        und TypeScript ergänzen.
                    </span>
                </div>
            }
            </div>
        </div>

        <div class="right-side">
            <div class="about-me-photo-eclips">
                <div class="img-cont">
                    <img src="./../../../assets/about-me/portfolio_2.0.png">
                </div>
                
                <div class="bar"></div>
            </div>
            
            <div class="blue-smoke">
                <img src="./../../../assets/about-me/blue_smoke.png">
            </div>

        </div>
    </div>

</div>