$color_background: #141D2F;
$color_violett: #4B47FF;
$color_button: #00BEE8;

@import './mediaquery.about-me.scss';


.background-about-me {
    background-color: $color_background;
    height: 100vh;
    display: flex;
    width: 100%;
}

.overcontainer {
    max-width: 1920px;
    width: 100%;
    display: flex;
    position: relative;
}

.left-side {
    position: relative;
    font-family: 'Poppins';
    color: white;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 53;

    .about-me-cont {
        min-height: 340px;
        width: 480px;
        margin-left: 100px;

        .title {
            font-size: 76px;
            color: white;
            font-family: 'Poppins';
            font-weight: 700;
            margin-bottom: 25px;
            display: flex;
        }

        .introducing-txt {
            height: 120px;
            width: 396px;
            margin-top: 25px;
        }

        .blue-puzzle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 35px;
            margin-top: 35px;

            img {
                height: 50px;
                width: 50px;
                object-fit: contain;
            }

            span {
                height: 86px;
                width: 396px;
            }
        }

        .blue-lamp {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                height: 50px;
                width: 50px;
                object-fit: contain;
            }

            span {
                height: 86px;
                width: 396px;
            }
        }
    }
}

.right-side {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;

    .about-me-photo-eclips {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 53;
        flex-direction: row;
        display: flex;
        align-items: center;

        .img-cont {
            position: relative;
            width: 340px;
            height: 340px;
            border: 2px solid $color_button;
            border-radius: 50%;
            img {
                height: 324px;
                width: 324px;
                object-fit: contain;
                position: relative;
                border-radius: 50%;
                padding: 5px;
            }
        }

        .bar {
            height: 2px;
            width: 200px;
            background-color: $color_button;
        }
    }

    .blue-smoke {
        position: absolute;
        right: 0;
        z-index: 52;
    
        img {
            height: 430px;
        }
    }


}