$color_background: #141D2F;
$color_violett: #4B47FF;
$color_button: #00BEE8;

.background-about-me {
    background-color: $color_background;
    height: calc(100vh - 110px);
    width: 100%;
    display: flex;
}

.overcontainer{
    max-width: 1440px;
    width: 100%;
    display: flex;
    position: relative;
}

.left-side {
    position: relative;
    z-index: 51;
    font-family: 'Poppins';
    color: white;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .about-me-cont {
        min-height: 340px;
        width: 480px;
        margin-left: 100px;

        .title {
            font-size: 76px;
            color: white;
            font-family: 'Poppins';
            font-weight: 700;
            margin-bottom: 35px;
            display: flex;
        }

        .introducing-txt {
            height: 120px;
            width: 396px;
            margin-top: 35px;
        }

        .blue-puzzle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 35px;
            margin-top: 35px;

            img {
                height: 50px;
                width: 50px;
                object-fit: contain;
            }

            span {
                height: 86px;
                width: 396px;
            }
        }

        .blue-lamp {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                height: 50px;
                width: 50px;
                object-fit: contain;
            }

            span {
                height: 86px;
                width: 396px;
            }
        }
    }
}

.blue-smoke {
    position: absolute;
    right: 0;
    z-index: 52;
    img{
        height: 430px;
    }
}

.right-side {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    .about-me-photo-eclips{
        display: flex;
        
        align-items: center;
        z-index: 53;

        img{
            height: 265px;
            width: 265px;
            object-fit: contain;
            border-radius: 50%;
            border: #00BEE8 2px solid;
        }
        .bar{
            height: 2px;
            width: 252px;
            background-color: $color_button;
        }
    }
}
