<div class="background-about-me" id="anchorabt">


    <div class="overcontainer">
        <div class="left-side">
            <div class="about-me-cont">
                @if (languageService.langDE) {
                <span class="title" data-aos="fade-right" data-aos-duration="1500">About me</span>
                <p class="introducing-txt" data-aos="fade-right" data-aos-duration="1500">
                    <i>"Every problem already has a solution. We just need to find it. [...]"</i>

                    I am 32 years old, originally from St. Gallen, and have experience building web applications. I
                    acquired my
                    skills through the following training courses:
                </p>

                <div class="blue-puzzle" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_puzzle.png">
                    <span>
                        A comprehensive full-time professional development course in fullstack development at Developer Akademie GmbH.
                    </span>
                </div>

                <div class="blue-lamp" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_lamp.png">
                    <span>
                        There, I was able to expand my tech stack with Angular, TypeScript, Python and Django by working on individual and group projects.
                    </span>
                </div>
            }@else {
                <span class="title" data-aos="fade-right" data-aos-duration="1500">Über mich</span>
                <p class="introducing-txt" data-aos="fade-right" data-aos-duration="1500">
                    <i>"Für jedes Problem gibt es bereits eine Lösung. Wir müssen sie nur finden. [...]"</i>

                    Ich bin 32 Jahre alt, ursprünglich aus St. Gallen und habe Erfahrung im Erstellen von Webanwendungen. Diese Schulung hat meine Fähigkeiten entwickelt:
                </p>

                <div class="blue-puzzle" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_puzzle.png">
                    <span>
                    Eine Weiterbildung im Bereich Fullstack-Entwicklung an der Developer Akademie, die ich in Vollzeit über einen Zeitraum von 18 Monaten erfolgreich absolviert habe.
                    </span>
                </div>

                <div class="blue-lamp" data-aos="fade-right" data-aos-duration="1500">
                    <img src="./../../../assets/about-me/blue_lamp.png">
                    <span>
                        Dort konnte ich in Einzel- und Gruppenprojekten meinen Tech-Stack unter anderem durch Angular, TypeScript, Python und Django ergänzen.
                    </span>
                </div>
            }
            </div>
        </div>

        <div class="right-side">
            <div class="about-me-photo-eclips">
                <div class="img-cont">
                    <img src="./../../../assets/about-me/portfolio_2.0.png">
                </div>
                
                <div class="bar"></div>
            </div>
            
            <div class="blue-smoke">
                <img src="./../../../assets/about-me/blue_smoke.png">
            </div>

        </div>
    </div>

</div>