$color_background: #141D2F;
$color_violett: #4B47FF;
$color_button: #00BEE8;

.background-landing-page {
    height: 100vh;
    width: 100%;
    background-color: $color_background;
    position: relative;

    .portrait-container {
        position: absolute;
        top: 10px;
        left: -25px;
        width: 50%;
        height: 48%;
        z-index: 0;
        display: flex;
        justify-content: center;

        .leftbehindfoto-blue {
            width: 55%;
            height: 100%;
            position: absolute;
            left: 13%;
            top: 15%;
            transform: rotate(90deg);
        }

        .rightbehindfoto-turquise {
            width: 50%;
            height: 100%;
            position: absolute;
            right: 14%;
            top: 19%;
            transform: rotate(66deg);
            z-index: -1;
        }

        .portraitfoto {
            position: relative;
            height: 610px;

        }
    }
}

.vectorpicture-right-side {
    display: flex;

    img {
        width: 100%;
        z-index: 1;
    }
}

.iam-dev-txt {
    width: 950px;
    height: 172px;
    font-family: 'Poppins';
    position: absolute;
    left: 37%;
    top: 35%;
    z-index: 2;
    display: flex;

    .rotate-txt {
        transform: rotate(270deg);
        color: white;
        font-size: 64px;
        margin: 0;
        line-height: 76px;
        padding-top: 72px;
    
    }
}

.flex-coloum {
    display: flex;
    flex-direction: column;
    margin: 0;
    .name{
        color: white;
        font-size: 76px;
        font-weight: 700;
        margin: 0;
        line-height: 96px;
    }
    .color-change{
        color: $color_violett;
        font-weight: 400;
        font-size: 58px;
        line-height: 69px;
    }
}