<div class="background-landing-page">

  <main class="content-container">  
        <div class="vectorpicture-right-side">
            <img src="./../../../assets/landingpage/Vector_right_side.png" alt="disallow">
        </div>

        <div class="portrait-container"  href="#anchor_landingpage">
            <img class="leftbehindfoto-blue" src="./../../../assets/landingpage/leftbehindfoto.png" alt="Blaues Hintergrundelement auf der linken Seite">
            <img class="portraitfoto" src="./../../../assets/landingpage/landing_page_2.0.png" alt="Portraitfoto von Hamza Bajramoski auf der Landingpage">
            <img class="rightbehindfoto-turquise" src="./../../../assets/landingpage/rightbehindfoto.png" alt="Türkises Hintergrundelement auf der rechten Seite">
        </div>

        <div class="iam-dev-txt">
            <span class="rotate-txt highlightable">I am</span>

            <div class="flex-coloum">
                <span class="name highlightable">Hamza Bajramoski</span>
                <span class="color-change" id="animated-title"></span>
                <div class="button-lets-talk">
                    <button [routerLink]="['/contact']" class="cursor-hover gentle-bubble-button">Jetzt Offerte einholen!</button>
                </div>
            </div>

        </div>

        <div class="socialmedia-links">
            <section class="overcontainer-left">

                <div class="empty-bar"></div>
            
                <div class="github-svg cursor-hover">
                    <img (click)="openLinkGithub()" src="./../../../assets/landingpage/github.svg">
                </div>
            
                <div class="email-svg cursor-hover">
                    <a href='mailto:hamzabaj1992@gmail.com'>
                        <img src="./../../../assets/landingpage/email.svg">
                    </a>
                </div>
            
                <div class="linkedIn-svg cursor-hover">
                    <img (click)="openLinkLinkedIn()" src="./../../../assets/landingpage/Linkedin button.svg">
                </div>
            
            </section>
        
            <section class="overcontainer-right">
                <img src="./../../../assets/landingpage/Scroll down.png">
            </section>
        </div>

    </main>
</div>