<div class="background-landing-page">

    <div class="vectorpicture-right-side">
        <img src="./../../../assets/landingpage/Vector_right_side.png">
    </div>

    <div class="portrait-container">
        <img class="leftbehindfoto-blue" src="./../../../assets/landingpage/leftbehindfoto.png">
        <img class="portraitfoto" src="./../../../assets/landingpage/examplefoto.png">
        <img class="rightbehindfoto-turquise" src="./../../../assets/landingpage/rightbehindfoto.png">
    </div>

   

</div> 

<div class="iam-dev-txt">
        <span class="rotate-txt">I am</span>

        <div class="flex-coloum">
            <span class="name">Hamza Bajramoski</span>
            <span class="color-change">FRONTED DEVELOPER</span>
        </div>
    </div>
