<div class="background-landing-page">

    <div class="vectorpicture-right-side">
        <img src="./../../../assets/landingpage/Vector_right_side.png">
    </div>

    <div class="portrait-container">
        <img class="leftbehindfoto-blue" src="./../../../assets/landingpage/leftbehindfoto.png">
        <img class="portraitfoto" src="./../../../assets/landingpage/examplefoto.png">
        <img class="rightbehindfoto-turquise" src="./../../../assets/landingpage/rightbehindfoto.png">
    </div>



</div>

<div class="iam-dev-txt">
    <span class="rotate-txt">I am</span>

    <div class="flex-coloum">
        <span class="name">Mudza Rizvanovic</span>
        <span class="color-change">FRONTED DEVELOPER</span>
        <div class="button-lets-talk">
            <button>Let's talk!</button>
        </div>
    </div>

</div>

<div class="socialmedia-links">
    <section class="overcontainer-left">
        <div class="center-the-links">
        <div class="empty-bar"></div>

        <div class="github-svg">
            <img src="./../../../assets/landingpage/github_vector.png">
        </div>

        <div class="email-svg">
            <img src="./../../../assets/landingpage/email_vector.png">
        </div>

        <div class="linkedIn-svg">
            <img src="./../../../assets/landingpage/linkedIN_vector.png">
        </div>
    </div>
        <span>MudzaRizva77&#64;gmail.com</span>
    </section>

    <section class="overcontainer-right">
        <img src="./../../../assets/landingpage/Scroll down.png">
    </section>
</div>