$color_background: #141D2F;
$color_violett: #4B47FF;
$color_button: #00BEE8;

.background-landing-page {
    height: 100vh;
    width: 100%;
    background-color: $color_background;
    position: relative;

    .portrait-container {
        position: absolute;
        top: 15%;
        left: -25px;
        width: 50%;
        height: 35%;
        z-index: 0;
        display: flex;
        justify-content: center;

        .leftbehindfoto-blue {
            width: 55%;
            height: 100%;
            position: absolute;
            left: 13%;
            top: 15%;
            transform: rotate(90deg);
        }

        .rightbehindfoto-turquise {
            width: 50%;
            height: 100%;
            position: absolute;
            right: 14%;
            top: 19%;
            transform: rotate(66deg);
            z-index: -1;
        }

        .portraitfoto {
            position: relative;
            height: 555px;

        }
    }
}

.vectorpicture-right-side {
    display: flex;

    img {
        width: 100%;
        z-index: 1;
    }
}

.iam-dev-txt {
    width: 950px;
    height: 172px;
    font-family: 'Poppins';
    position: absolute;
    left: 37%;
    top: 35%;
    z-index: 2;
    display: flex;

    .rotate-txt {
        transform: rotate(270deg);
        color: white;
        font-size: 64px;
        margin: 0;
        line-height: 76px;
        padding-top: 72px;
    }

}

.flex-coloum {
    display: flex;
    flex-direction: column;
    margin: 0;

    .name {
        color: white;
        font-size: 76px;
        font-weight: 700;
        margin: 0;
        line-height: 96px;
    }

    .color-change {
        color: $color_violett;
        font-weight: 400;
        font-size: 58px;
        line-height: 69px;
    }
}

.button-lets-talk {
    display: flex;
    justify-content: center;

    button {
        width: 165px;
        height: 58px;
        font-size: 23px;
        font-weight: 400;
        background-color: $color_button;
        color: white;
        border-radius: 9px 9px 9px 9px;
        border: none;
        margin-right: 175px;
        margin-top: 36px;

        &:hover {
            background-color: $color_violett;
            scale: 1.2;
            cursor: pointer;
            transition: all ease-in-out 0.55s;
        }
    }
}

.socialmedia-links {
    position: absolute;
    left: 0%;
    top: 70%;
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    height: 350px;
    max-width: 1440px;
    width: 100%;

    .overcontainer-left {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        font-weight: 500;
        

        .empty-bar {
            height: 2px;
            width: 100px;
            background-color: $color_violett;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .github-svg {
            &:hover {
                scale: 1.25;
                cursor: pointer;
                transition: all ease-in-out 0.3s;
            }
        }

        .email-svg {
            &:hover {
                scale: 1.25;
                cursor: pointer;
                transition: all ease-in-out 0.3s;
            }
        }

        .linkedIn-svg {
            &:hover {
                scale: 1.25;
                cursor: pointer;
                transition: all ease-in-out 0.3s;
            }
        }

        span {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .overcontainer-right {
        color: white;
        display: flex;
        align-items: center;
        img{
            display: flex;
        }
     
    }

}