$color_background: #141D2F;
$color_violett: #4B47FF;
$hover_color: #00BEE8;

@import './mediaquery.navbar.scss';



.overcontainer {
    height: 110px;
    width: 100%;
    background-color: rgba(20, 29, 47, 1);
    display: flex;
    z-index: 1000;
    top: 0;
    position: fixed;

}

.header {
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1920px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(20, 29, 47, 1);
    height: 110px;
    a{
        text-decoration: none;
        
    }
}

.logo {
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 40%;

}

.right-section {
    width: 390px;
    max-height: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: $hover_color;
        }
    }
}

.d-none {
    display: none;
}

.clicked {
    position: relative;
    color: $hover_color;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: -2px;
        bottom: -2px;
        width: 37px;
        height: 2px;
        background: #4B47FF;
        border-radius: 0 2px 2px 0px;
        z-index: 1; 
    }
}

.language-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    .bar{
        width: 2px;
        height: 18px;
        background-color: $hover_color;
        justify-content: center;        
    }
}

.clicked-for-EN-DE{
    color:$hover_color;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 2px;
        right: -2px;
        bottom: -2px;
        width: 15px;
        height: 2px;
        background: #4B47FF;
        border-radius: 0 2px 2px 0px;
        z-index: 1;
    }
}

.clicked-for-EN-DE-mirror {
    color: $hover_color;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        right: 2px;
        bottom: -2px;
        width: 15px;
        height: 2px;
        background: #4B47FF;
        border-radius: 0 2px 2px 0px;
        z-index: 1;
        transform: scaleX(-1);
    }
}
.letter-klammer-links, .letter-klammer-rechts{
    font-size: 37px;
    font-weight: 600;
    color: white;
}
.slash-bar{
    font-size: 28px;
    color: #00BEE8;
    font-weight: 800;
}
.letter1 { color: white; } 
.letter2 { color: white; } 
.letter3 { color: white; } 
.letter4 { color: white; } 
.letter5 { color: white; } 


.letter1, .letter2, .letter3, .letter4, .letter5{
    font-size: 26px;
    font-weight: 600;
    &:hover{
        color: #00BEE8;
    }
}

