<div class="overcontainer">
    <nav class="header">
        <a href="#">
            <div class="logo">
                <span class="letter-klammer-links">
                    < </span>
                        <span class="slash-bar">/</span>
                        <span class="letter letter1">H</span>
                        <span class="letter letter2">a</span>
                        <span class="letter letter3">m</span>
                        <span class="letter letter4">z</span>
                        <span class="letter letter5">a</span>
                        <span class="letter-klammer-rechts"> > </span>
            </div>
        </a>

        <div class="right-section">

            <div class="language-container">
                <a [ngClass]="{'clicked-for-EN-DE-mirror': languageService.langDE}"
                    (click)="languageService.changeLanguage('de')" style="cursor: pointer;">EN</a>
                <div class="bar"></div>
                <a [ngClass]="{'clicked-for-EN-DE': languageService.langEN}"
                    (click)="languageService.changeLanguage('en')" style="cursor: pointer;">DE</a>
            </div>
            @if (languageService.langDE) {
                <a [ngClass]="{'clicked': languageService.aboutme}"
                    (click)="languageService.clickedLink('aboutme')" [routerLink]="['/about']">About me</a>
        
                <a [ngClass]="{'clicked': languageService.skills}"
                    (click)="languageService.clickedLink('skills')" [routerLink]="['/skills']">Skills</a>
        
                <a [ngClass]="{'clicked': languageService.portfolio}"
                    (click)="languageService.clickedLink('portfolio')" [routerLink]="['/portfolio']">Portfolio</a>
            } @else {
                <a [ngClass]="{'clicked': languageService.aboutme}"
                    (click)="languageService.clickedLink('aboutme')" [routerLink]="['/about']">Über mich</a>
        
                <a [ngClass]="{'clicked': languageService.skills}"
                    (click)="languageService.clickedLink('skills')" [routerLink]="['/skills']">Skills</a>
        
                <a [ngClass]="{'clicked': languageService.portfolio}"
                    (click)="languageService.clickedLink('portfolio')" [routerLink]="['/portfolio']">Portfolio</a>
            }

        </div>
        <img (click)="showBurger()" class="burger-icon" src="./../../../assets/mobile/burger menu.png">
    </nav>

</div>

<div class="Burger-Menu" [ngClass]="{'Show-BurgerMenu': burgerMenu}" (click)="showBurger()">

    <section class="overcontainer">
        <div class="language-container-mobile">
            <a [ngClass]="{'clicked-for-EN-DE-mirror': languageService.langDE}"
                (click)="languageService.changeLanguage('de')" style="cursor: pointer;">EN</a>
            <div></div>
            <a [ngClass]="{'clicked-for-EN-DE': languageService.langEN}" (click)="languageService.changeLanguage('en')"
                style="cursor: pointer;">DE</a>
        </div>

        <div class="links-container-mobile">
            @if (languageService.langDE) {
            <a [ngClass]="{'clicked': languageService.aboutme}"
                (click)="languageService.clickedLink('aboutme')" [routerLink]="['/about']">About me</a>
            <a [ngClass]="{'clicked': languageService.skills}" 
                (click)="languageService.clickedLink('skills')" [routerLink]="['/skills']">Skills</a>
            <a [ngClass]="{'clicked': languageService.portfolio}"
                (click)="languageService.clickedLink('portfolio')" [routerLink]="['/portfolio']">Portfolio</a>
            } @else {
            <a [ngClass]="{'clicked': languageService.aboutme}"
                (click)="languageService.clickedLink('aboutme')" [routerLink]="['/about']">Über mich</a>
            <a [ngClass]="{'clicked': languageService.skills}"
                (click)="languageService.clickedLink('skills')" [routerLink]="['/skills']">Skills</a>
            <a [ngClass]="{'clicked': languageService.portfolio}"
                (click)="languageService.clickedLink('portfolio')" [routerLink]="['/portfolio']">Portfolio</a>
            }

        </div>
    </section>

</div>