$color_background: #141D2F;
$color_violett: #4B47FF;
$color_button: #00BEE8;


section {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    background-color: $color_background;
}

.wrapperLegal {
    display: flex;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
}

.legal {
    max-width: 1920px;
    text-wrap: wrap;
    overflow-y: scroll;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 100px;
}

p {
    color: white;
    font-family: 'Poppins';
    font-weight: 400;    
    font-size: 14px;
    line-height: 17px;
}

h1 {
    color: $color_violett;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 27.6px;
    font-size: 23px;
}

a {
    color: white;
    text-decoration: none;
}

strong {
    color: $color_button;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}

#text {
    color: white;
}



::-webkit-scrollbar {
    overflow-y: hidden;
}


