<div class="background-my-skills">
    <div class="blue-smoke">
        <img src="./../../../assets/myskills/turquise_smoke.png">
    </div>

    <div class="icons">
        
            <a><img src="./../../../assets/myskills/angular.png"></a>
            <a><img src="./../../../assets/myskills/javascript.png"></a>
            <a><img src="./../../../assets/myskills/typescript.png"></a>
            <a><img src="./../../../assets/myskills/firebase.png"></a>
            <a><img src="./../../../assets/myskills/scrum.png"></a>
            <a><img src="./../../../assets/myskills/api.png"></a>
            <a><img src="./../../../assets/myskills/html.png"></a>
            <a><img src="./../../../assets/myskills/css.png"></a>
            <a><img src="./../../../assets/myskills/materialdesign.png"></a>
            <a><img src="./../../../assets/myskills/git.png"></a>

            
            
    </div>

</div>