<script>AOS.init()</script>
<audio #hoverAudio preload="auto" src="./../../../assets/myskills/hover_icon_sound.mp3"></audio>

<div class="background-my-skills" id="anchor_myskills">
    <div class="overcontainer"> 
        <div class="blue-smoke">
            <img src="./../../../assets/myskills/turquise_smoke.png">
        </div>

        <div class="icons">
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/angular_icon_1.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/js_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/typescript_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/python_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/scrum_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/api_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/html_icon2.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/sass_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/bootstrap_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/git_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/django_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/github_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/google_cloud_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/linux_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/docker_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>
            <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/postgresql_icon.png" data-aos="flip-left" data-aos-duration="1500"></a>

        </div>
        @if (languageService.langDE) {
        <div class="myskills-txt-btn">
            <div class="undercontainer">
                <div class="row-the-content">
                    <div class="myskills-title">
                        <span id="my_skill_title" data-aos="fade-left" data-aos-duration="1500">My skills</span>
                        <div class="bar" data-aos="fade-left" data-aos-duration="1500"></div>
                    </div>
                </div>
                <span data-aos="fade-left" data-aos-duration="1500">I have expanded my fullstack development skills by utilizing the listed technologies, which has enabled me to create various real-world projects.</span>
            </div>
            <button onclick="location.href='#anchor_contact_me'">Get in touch</button>
        </div>
        }@else {

        <div class="myskills-txt-btn">
            <div class="undercontainer">
                <div class="row-the-content">
                    <div class="myskills-title">
                        <span id="my_skill_title" data-aos="fade-left" data-aos-duration="1500">My skills</span>
                        <div class="bar" data-aos="fade-left" data-aos-duration="1500"></div>
                    </div>
                </div>
                <span data-aos="fade-left" data-aos-duration="1500">Ich habe meine Fähigkeiten in der Fullstack-Entwicklung durch die Nutzung der aufgelisteten Technologien erweitert, was mir ermöglicht hat, verschiedene reale Projekte umzusetzen.</span>
            </div>
            <button onclick="location.href='#anchor_contact_me'">Kontakt</button>
        </div>
        }
    </div>
</div>