<script>AOS.init()</script>
<audio #hoverAudio preload="auto" src="./../../../assets/myskills/hover_icon_sound.mp3"></audio>

<div class="background-my-skills" id="anchor_myskills">
    <div class="blue-smoke">
        <img src="./../../../assets/myskills/turquise_smoke.png">
    </div>

    <div class="icons">
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/angular.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/javascript.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/typescript.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/firebase.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/scrum.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/api.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/html.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/css.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/materialdesign.png" data-aos="flip-left" data-aos-duration="1500"></a>
        <a (mouseenter)="playAudio()" (mouseleave)="pauseAudio()"><img src="./../../../assets/myskills/git.png" data-aos="flip-left" data-aos-duration="1500"></a>
    </div>
    @if (languageService.langDE) {
    <div class="myskills-txt-btn">
        <div class="undercontainer">
            <div class="row-the-content">
                <div class="myskills-title">
                    <span id="my_skill_title" data-aos="fade-left" data-aos-duration="1500">My skills</span>
                    <div class="bar" data-aos="fade-left" data-aos-duration="1500"></div>
                </div>
            </div>
            <span>I have grown my frontend developments skills that have allowed me to create different real
                projects.</span>
        </div>
        <button>Get in touch</button>
    </div>
    }@else {

    <div class="myskills-txt-btn">
        <div class="undercontainer">
            <div class="row-the-content">
                <div class="myskills-title">
                    <span id="my_skill_title" data-aos="fade-left" data-aos-duration="1500">My skills</span>
                    <div class="bar" data-aos="fade-left" data-aos-duration="1500"></div>
                </div>
            </div>
            <span>Ich habe meine Fähigkeiten in der Frontend-Entwicklung durch die Nutzung der aufgelisteten Skills
                erweitert, was mir ermöglicht hat, verschiedene reale Projekte zu erstellen.</span>
        </div>
        <button>Kontakt</button>
    </div>
    }
</div>