<footer>
        <div class="overcontainer-left">
            <div class="logo">
                <span class="letter letter1">M</span>
                <span class="letter letter2">u</span>
                <span class="letter letter3">d</span>
                <span class="letter letter4">z</span>
                <span class="letter letter5">a</span>
                <span class="letter letter6">h</span>
                <span class="letter letter7">e</span>
                <span class="letter letter8">d</span>
                <span class="letter letter9">i</span>
                <span class="letter letter10">n</span>
            </div>
            <p>Imprint</p>
        </div>

        <div class="overcontainer-middle">
            <span>© Mudzahedin Rizvanovic 2024</span>
        </div>

        <div class="overcontainer-right">
            <img src="./../../../assets/footer/github_vector.png">
            <img src="./../../../assets/footer/email_vector.png">
            <img src="./../../../assets/footer/linkedIN_vector.png">
        </div>
</footer>