$color_background: #141D2F;
$color_violett: #4B47FF;
$color_button: #00BEE8;

@import './mediaquery-footer.scss';

footer {
    width: 100%;
    height: 200px;
    background-color: $color_background;
    border-top: 1.5px solid $color_button;
    font-family: 'Poppins';
    position: relative;
    z-index: 999;

    .max-width-container {
        max-width: 1920px;
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .overcontainer-left {
            text-decoration: none;
            padding-left: 5%;

            p {
                margin: 0;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                        text-decoration-color: #00BEE8;
                    }
                }
            }
        }

        .overcontainer-middle {
            color: white;

            span {
                font-size: 23px;
            }
        }

        .overcontainer-right {
            display: flex;
            column-gap: 30px;
            padding-right: 5%;
            a{
                height: 30px;
                width: 30px;
                object-fit: contain;
            }

            img {
                height: 30px;
                width: 30px;
                object-fit: contain;

                &:hover {
                    scale: 1.25;
                    cursor: pointer;
                    transition: all ease-in-out 0.3s;
                }
            }
        }

        

    }
}

.letter1 {
    color: white;
}

.letter2 {
    color: white;
}

.letter3 {
    color: white;
}

.letter4 {
    color: white;
}

.letter5 {
    color: white;
}

.letter-klammer-links, .letter-klammer-rechts{
    font-size: 37px;
    font-weight: 600;
    color: white;
}
.slash-bar{
    font-size: 28px;
    color: #00BEE8;
    font-weight: 800;
}

.letter1,
.letter2,
.letter3,
.letter4,
.letter5
{
    font-size: 26px;
    font-weight: 600;
}

.logo {
    display: flex;
    align-items: center;
}