<footer>
    <main class="max-width-container">
        <div class="overcontainer-left">
            <div class="logo">
                <span class="letter-klammer-links"> < </span>
                <span class="slash-bar">/</span>
                <span class="letter letter1">H</span>
                <span class="letter letter2">a</span>
                <span class="letter letter3">m</span>
                <span class="letter letter4">z</span>
                <span class="letter letter5">a</span>
                <span class="letter-klammer-rechts"> > </span>
            </div>
            @if (languageService.langDE) {
            <p><a href="imprint" class="custom-cursor">Imprint</a></p>
            }@else {
                <p><a href="imprint" class="custom-cursor">Impressum</a></p>
            }
        </div>

        <div class="overcontainer-middle">
            <span>©Hamza Bajramoski 2024</span>
        </div>

        <div class="overcontainer-right">
            <img (click)="openLinkGithub()" src="./../../../assets/landingpage/github.svg" class="cursor-hover">
            <a href='mailto:hamzabaj1992@gmail.com'><img src="./../../../assets/landingpage/email.svg" class="cursor-hover"></a>
            <img (click)="openLinkLinkedIn()" src="./../../../assets/landingpage/Linkedin button.svg" class="cursor-hover">
        </div>
    </main>    
</footer>