@media (max-width: 730px) {
    footer {
        width: 100%;
        height: 200px;
        background-color: $color_background;
        border-top: 1.5px solid $color_button;
        font-family: 'Poppins';


        .max-width-container {
            max-width: 1920px;
            height: 100%;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;


            .overcontainer-left {

                .logo {

                    .letter1,
                    .letter2,
                    .letter3,
                    .letter4,
                    .letter5{
                        font-size: 16px !important;
                        font-weight: 600;
                    }

                }

                text-decoration: none;

                p {
                    margin: 0;
                    font-size: 16px;
                    a {
                        text-decoration: none;
                        color: white;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                            text-decoration-color: #00BEE8;
                        }
                    }
                }
            }

            .overcontainer-middle {
                color: white;

                span {
                    font-size: 12px !important;
                }
            }

            .overcontainer-right {
                display: flex;
                column-gap: 30px;

                a {
                    display: flex;

                    img {
                        height: 15px !important;
                        width: 30px !important;
                        object-fit: contain;
                    }
                }

                img {
                    height: 15px !important;
                    width: 30px !important;
                    object-fit: contain;

                    &:hover {
                        scale: 1.25;
                        cursor: pointer;
                        transition: all ease-in-out 0.3s;
                    }
                }
            }

        }
    }
}

@media (max-width: 500px) {
    footer {
        width: 100%;
        height: 200px;
        background-color: $color_background;
        border-top: 1.5px solid $color_button;
        font-family: 'Poppins';


        .max-width-container {
            max-width: 1920px;
            height: 100%;
            color: white;
            display: flex;
            flex-direction: column !important;
            justify-content: space-evenly !important;
            align-items: center;


            .overcontainer-left {

                text-decoration: none;
                padding-left: 0% !important;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .logo {


                .letter-klammer-links,
                .letter-klammer-rechts {
                        font-size: 22px !important;
                        font-weight: 600;
                        color: white;
                    }
                
                    .slash-bar {
                        font-size: 22px !important;
                        color: #00BEE8;
                        font-weight: 800;
                    }

                    .letter1,
                    .letter2,
                    .letter3,
                    .letter4,
                    .letter5 {
                        font-size: 18px !important;
                        font-weight: 600;
                    }


                    text-decoration: none;

                    p {
                        margin: 0;
                        padding-left: 0% !important;
                        font-size: 13px !important;
                        
                        a {
                            text-decoration: none;
                            color: white;
                            font-size: 13px!important;

                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                                text-decoration-color: #00BEE8;
                            }
                        }
                    }
                }

                .overcontainer-middle {
                    color: white;

                    span {
                        font-size: 12px !important;
                    }
                }

                .overcontainer-right {
                    display: flex;
                    column-gap: 30px;
                    padding-right: 0 !important;

                    a {
                        display: flex;

                        img {
                            height: 15px !important;
                            width: 30px !important;
                            object-fit: contain;
                        }
                    }

                    img {
                        height: 15px !important;
                        width: 30px !important;
                        object-fit: contain;

                        &:hover {
                            scale: 1.25;
                            cursor: pointer;
                            transition: all ease-in-out 0.3s;
                        }
                    }
                }



            }
        }
    }


}