<div class="background-portfolio" id="anchor_portfolio">
    <div class="overcontainer">
        <div class="header" data-aos="zoom-in" data-aos-duration="1000">
                <div class="title">
                    <div class="left-bar"></div>
                        <span>Portfolio</span>
                    <div class="right-bar"></div>
                </div>
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
        </div>
    </div>

    <section class="projects">
        <div class="join-conti">
            <div class="left-img">
                <img src="./../../../assets/portfolio_macbook_templates/flipped_macbook_join.png">
            </div>
            <div class="github-livetest">
                <header class="join">
                    Join
                </header>
                <span class="over-description">
                    HTML | JavaScript | CSS
                </span>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
                <div class="buttons">
                    <button class="live-btn">Live Test</button>
                    <button class="github-btn">Github</button>
                </div>
            </div>
        </div>
    </section>
</div>